<h1>Welcome to the flower shop!</h1>
<p>We have a wide variety of bouquets. Browse and find one that is right for you!</p>


<br>


<div class="flower-row">
    
    <div class="flower">

      <div class="flower__head">
        <div class="flower__eye left">
          <span></span>
        </div>
        <div class="flower__nose"></div>
        <div class="flower__eye right">
          <span></span>
        </div>
      </div>
    
      <div class="flower__leaf"></div>
      <div class="flower__leaf--shadow">
      </div>
      <div class="flower__leaf oposite"></div>
      <div class="flower__leaf--shadow oposite"></div>
    
      <div class="flower__stem"></div>
    
      <div class="flower__pot">
        <div class="flower__pot--shadow"></div>
        <div class="flower__pot--bottom"></div>
      </div>
    </div>
    
    <div class="flower">

      <div class="flower__head">
        <div class="flower__eye left">
          <span></span>
        </div>
        <div class="flower__nose"></div>
        <div class="flower__eye right">
          <span></span>
        </div>
      </div>
    
      <div class="flower__leaf"></div>
      <div class="flower__leaf--shadow">
      </div>
      <div class="flower__leaf oposite"></div>
      <div class="flower__leaf--shadow oposite"></div>
    
      <div class="flower__stem"></div>
    
      <div class="flower__pot">
        <div class="flower__pot--shadow"></div>
        <div class="flower__pot--bottom"></div>
      </div>
    </div>
    
    <div class="flower">

      <div class="flower__head">
        <div class="flower__eye left">
          <span></span>
        </div>
        <div class="flower__nose"></div>
        <div class="flower__eye right">
          <span></span>
        </div>
      </div>
    
      <div class="flower__leaf"></div>
      <div class="flower__leaf--shadow">
      </div>
      <div class="flower__leaf oposite"></div>
      <div class="flower__leaf--shadow oposite"></div>
    
      <div class="flower__stem"></div>
    
      <div class="flower__pot">
        <div class="flower__pot--shadow"></div>
        <div class="flower__pot--bottom"></div>
      </div>
    </div>
    
    
    <div class="flower">

      <div class="flower__head">
        <div class="flower__eye left">
          <span></span>
        </div>
        <div class="flower__nose"></div>
        <div class="flower__eye right">
          <span></span>
        </div>
      </div>
    
      <div class="flower__leaf"></div>
      <div class="flower__leaf--shadow">
      </div>
      <div class="flower__leaf oposite"></div>
      <div class="flower__leaf--shadow oposite"></div>
    
      <div class="flower__stem"></div>
    
      <div class="flower__pot">
        <div class="flower__pot--shadow"></div>
        <div class="flower__pot--bottom"></div>
      </div>
    </div>
    
</div>






